<nav class="card sticky top-0 z-10">
    <p-menubar [model]="items" class="">
        <ng-template pTemplate="start">
            <img class="mx-5" src="/assets/images/IceCream.svg" alt="">
        </ng-template>
        
        <p-tabMenu [model]="items">
            <ng-template pTemplate="item" let-item>
                <ng-container *ngIf="item.route; else elseBlock">
                    <a [routerLink]="item.route" class="p-menuitem-link">
                        <span class="ml-2">
                            {{ item.label }} 
                        </span>
                    </a>
                </ng-container>
                <ng-template #elseBlock>
                    <!-- <a [href]="item.url" class="p-menuitem-link">
                        <span class="ml-2">
                            {{ item.label }} xd
                        </span>
                    </a> -->
                </ng-template>
            </ng-template>
        </p-tabMenu>

        <ng-template pTemplate="end">
            
            <div class="flex">
                <div *ngIf="showNoti" class="max-w-5xl mx-auto px-1 md:px-8">
                    <div class="flex justify-between p-1 rounded-md bg-blue-50 border border-blue-300">
                        <div class="flex gap-3 sm:items-center mx-2">
                            <p class="text-blue-600 text-[14px] sm:text-sm">
                                {{mensaje}}
                            </p>
                        </div>
                    </div>
                </div>


                <div class="flex align-items-center">
                    <p-avatar (click)="silenceNotifications()" image="/assets/icons/{{notiIcon}}" shape="circle"/>
                </div>
            </div>
        </ng-template>
    </p-menubar>
</nav>