<div class="grid grid-cols-1 gap-1 md:grid-cols-2 footer rounded-t-2xl">

    <div class=" p-5" >
        <h3 class="text-center mx-auto max-w-md font-bold md:text-left">Equipo Integrantes</h3>
        <ul class="text-center listMembers">
            <li class="text-center mx-auto max-w-md  md:text-justify">Quintana Juarez Bryan Alexis - 21550295</li>
            <li class="text-center mx-auto max-w-md md:text-justify">Marquez Torres Gabriel Josue - 21550316</li>
            <li class="text-center mx-auto max-w-md md:text-justify">Martinez Chavez Edgar Alejandro - 21550364</li>
            <li class="text-center mx-auto max-w-md md:text-justify">Murillo Andrade Sebastian Emilio - 21550384</li>
        </ul>
    </div>

    <div class="p-5">
        <h3 class="text-center mx-auto max-w-md font-bold md:text-left">Información</h3>
        <ul class="text-center listMembers">
            <li class="text-center mx-auto max-w-md md:text-justify"><span class="font-bold">Materia:</span> Programación BackEnd</li>
            <li class="text-center mx-auto max-w-md md:text-justify"><span class="font-bold">Docente:</span> Velazquez Portillo Pedro Alberto</li>
        </ul>
    </div>

    <div class="col-span-1 text-center md:col-span-2">
        Copyrigth &copy; {{currentYear}} - Todos los derechos reservados
    </div>
</div>
    